* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}
body{
  height: 3000px;
}
/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 50px;
}
.logo {
  width: 200px;
  height: 41px;
  margin-right: 40px;
  cursor: pointer;
}
.header-right-section, ul {
  display: flex;
  align-items: center;
}
ul li {
  list-style: none;
  font-size: 14px;
  font-weight: bold;
  margin-right: 25px;
  cursor: pointer;
}
ul li:hover {
  color: #009031;
}
.button-order {
  background-color: #f2b700;
  color: #00491e;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  padding: 15px;
  margin-left: 150px;
  cursor: pointer;
}
/* banner */
.image-banner {
  width: 100%;
  margin-bottom: 10px;
}
.slide {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.button-slide {
  width: 64px;
  height: 2px;
  background-color: #000000;
  opacity: 0.3;
  border-radius: 5px;
  border: none;
}
.button-slide-selected {
  background-color: #008938;
}
/* menu */
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu-heading {
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 30px;
}
.menu-category {
  display: flex;
  flex-wrap: wrap;
}
.button-menu-category {
  background-color: #ededed;
  border: none;
  border-radius: 23px;
  padding: 10px 24px;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  white-space: nowrap;
  cursor: pointer;
  margin-bottom: 60px;
}
.button-menu-category-selected {
  background-color: #008938;
  color: white;
}
/* menu item */
.menu-grid {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-item-container {
  height: 455px;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 35px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin: 18px;
  transition: background-color 0.15s, color 0.15s;
}
.menu-item-container:hover {
  background-color: #008938;
  color: white;
}
.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 243px;
  
}
.image-menu-item {
  width: 243px;
  padding-bottom: 15px;
  cursor: pointer;
}
.header-menu-item {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  cursor: pointer;
}
.description-menu-item {
  height: 60px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.button-more-info {
  background-color: #f2b700;
  color: #00491e;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 24px;
  cursor: pointer;
}