* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 50px;
}
.logo {
  width: 200px;
  height: 41px;
  margin-right: 40px;
  cursor: pointer;
}
.header-right-section, ul {
  display: flex;
  align-items: center;
}
ul li {
  list-style: none;
  font-size: 14px;
  font-weight: bold;
  margin-right: 25px;
  cursor: pointer;
}
ul li:hover {
  color: #009031;
}
.button-order {
  background-color: #f2b700;
  color: #00491e;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  padding: 15px;
  margin-left: 150px;
  cursor: pointer;
}